<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="MaterialDesignColors" version="3.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net472" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net472" />
  <package id="NuGetEnablePackageRestore" version="2.0.0" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="24.2.5" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="24.2.5" targetFramework="net472" />
  <package id="Syncfusion.SfSkinManager.WPF" version="24.2.5" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="24.2.5" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="24.2.5" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart" version="24.2.5" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart.WPF" version="24.2.5" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2622" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="5.0.0.2012" targetFramework="net472" />
</packages>